<div id = "wrapper">
  <div id = "header"><%= render "layouts/common_header" %></div>
  <div class="clear"></div>
  <div id="inner-wrapper">
    <div id="technician-heading">Edit Technician</div>
    <% if flash[:notice] %>
      <div id="error">
        <%= flash[:notice] %>
      </div>
    <% else %>
      <div id="without-error">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="clear"></div>
    <%= form_for @technician, :url => technician_update_path do |f|%>

      <div class="technician-fields">
        <div class="technician-lables"><%= f.label :name %></div>
        <div class="technician-boxes"><%= f.text_field :name, :class => "selectboxLength" %></div>
      </div>
      <div class="technician-fields">
        <div class="technician-lables"><%= f.label :incentive %></div>
        <div class="technician-boxes"><%= f.text_field :incentive, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div id="technician-button">
        <%= f.submit %>
      </div>

    <% end %>
    <div class="technician-fields"><%= link_to 'Back', technician_show_path %> </div>
  </div>
  <div class="clear"></div>
  <div class="bottom_padding"></div>
</div>
<div class="clear"></div>
<div id = "header" align="center"><%= render "layouts/footer" %></div>
