<div id = "wrapper">
  <div id = "header"><%= render "layouts/common_header" %></div>
  <div class="clear"></div>
  <div id="inner-wrapper">
    <div id="user-heading">Change Password</div>
    <% if flash[:notice] %>
      <div id="error">
        <%= flash[:notice] %>
      </div>
    <% else %>
      <div id="without-error">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="clear"></div>
    <%= form_for @user, :url => user_set_password_path do |f|%>

      <div class="user-fields">
        <div class="user-lables"><%= label_tag(:old_password) %></div>
        <div class="user-boxes"><%= password_field_tag('old_password',"" , :size => 30, :class => "selectboxLength") %></div>
      </div>
      <div class="clear"></div>
      <div class="user-fields">
          <div class="user-lables"><%= f.label :password %></div>
          <div class="user-boxes"><%= f.password_field :password, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="user-fields">
          <div class="user-lables">Confirm Password</div>
          <div class="user-boxes"><%= f.password_field :password_confirmation, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div id = "change-button">
        <%= f.submit "Change Password" %>
      </div>

    <% end %>
  </div>
  <div class="clear"></div>
  <div class="bottom_padding"></div>
</div>
<div class="clear"></div>
<div id = "header" align="center"><%= render "layouts/footer" %></div>
