<% if complaints.length > 0 %>
  <% complaints.each do |status| %>
    <div class = "complaint-reg-rows">
      <div class = "serial-numbers"><%= serial_number=(counter+1) %></div>
      <div class = "complaint-reg-dates"><%= (status["complaint_date"]).strftime('%d/%m/%y') %></div>
      <div class = "complaint-reg-names"><%= link_to "#{status["coustomer_name"]}",'javascript:void(0);', :onclick => "service_entry(#{status["complaint_id"]})" %></div>
      <div class = "complaint-reg-addresses"><%= status["address"] %></div>
      <div class = "complaint-reg-contacts"><%= status["contact_numbers"] %></div>
      <div class = "complaint-reg-model-names"><%= status["model_name"] %></div>
      <div class = "complaint-reg-descriptions"><%= status["description"] %></div>
      <div class = "complaint-reg-model-names"><%= status["complaint_no"] %></div>
      <div id="<%= serial_number %>"></div>
      <div style="float:right;" width="60px"><%= link_to "View" ,'javascript:void(0);', :onclick => "view_complaint(#{status["complaint_id"]})" %>	  <%= link_to "Edit",'javascript:void(0);', :onclick => "edit_complaint(#{status["complaint_id"]})" %>	  <%= link_to( "Delete", "delete_complaint/#{status["complaint_id"]}", :confirm => 'Are you sure?', :method => :delete) %></div>
      <% counter = counter + 1 %>
    </div>
    <div class="clear"></div>
  <% end %>
<% else %>
  <div id = "rows-not-found">"No Incomplete Complaint found"</div>
  <div class="clear"></div>
<% end %>
<% current_page = (Float(counter) / 25).ceil %>
<div class="clear"></div>
<%= render :partial => "layouts/get_paginated", :locals => { :current_page => current_page, :total_pages => total_pages, :function_name => "ordered_complaint_register" }%>
