<% if services.length > 0 %>
  <% services.each do |status| %>
    <div class = "service-register-rows">
      <div class = "serial-numbers"><%= serial_number=(counter+1) %></div>
      <div class = "service-register-last-service-dates"><%= status["last_service_date"] %></div>
      <div class = "service-register-names"><%= link_to "#{status["customer_name"]}",'javascript:void(0);', :onclick => "service_detail(#{status["customer_id"]})" %></div>
      <div class = "service-register-addresses"><%= status["address"] %></div>
      <div class = "service-register-contacts"><%= status["contact_numbers"] %></div>
      <div class = "service-register-models"><%= status["model_name"] %></div>
      <div class = "service-register-amc-type"><%= status["amc_type"] %></div>
      <div id="<%= status["customer_id"] %>"></div>
      <div style="float:right;" width="60px"><!--<%= link_to "Edit",'javascript:void(0);', :onclick => "edit_service(#{status["customer_id"]})" %>-->	  <%= link_to( "Delete", "/customer_destroy/#{status["customer_id"]}", :confirm => 'Are you sure?', :method => :delete) %></div>
      <% unless status["created_by"].blank? %>
        <% user = User.find(status["created_by"]).user_name%>
        <div class = "service-created-by"><%= user %></div>
      <% end %>
      
      <% counter = counter + 1 %>
    </div>
    <div class="clear"></div>
  <% end %>
<% else %>
  <div id = "rows-not-found">"Not Serviced Yet"</div>
  <div class="clear"></div>
<% end %>
<% current_page = (Float(counter) / 25).ceil %>
<div class="clear"></div>
<%= render :partial => "layouts/get_paginated", :locals => { :current_page => current_page, :total_pages => total_pages, :function_name => "ordered_service_register" }%>
