<div class="bottom_padding"></div>
<div class="bottom_padding"></div>
<div class="bottom_padding"></div>
<div id="without-error"></div>
<div class="clear"></div>
<%=form_for @customer, :url => customer_update_path, :html => { :onsubmit => "return renew_amc_submit_check()" } do |f| %>
  <%= f.hidden_field :id %>
  <div class="new-customer-fields">
    <div class="new-customer-lables"><%= f.label :identity %></div>
    <div class="new-customer-boxes"><%= f.text_field :identity, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
    <div class="new-customer-lables"><%= f.label :contract_date %>(dd-mm-yyyy)<span class="necessary">*</span></div>
    <div class="new-customer-boxes"><%= f.text_field :contract_date, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
    <div class="new-customer-lables"><%= f.label :amc_type %><span class="necessary">*</span></div>
    <div class="new-customer-boxes"><%= f.select :amc_type, ["with parts","without parts"],{ :prompt => true },{ :class => "selectboxLength"} %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
      <div class="new-customer-lables"><%= f.label :name %><span class="necessary">*</span></div>
      <div class="new-customer-boxes"><%= f.text_field :name, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
      <div class="new-customer-lables"><%= f.label :house_number %><span class="necessary">*</span></div>
      <div class="new-customer-boxes"><%= f.text_field :house_number, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
      <div class="new-customer-lables"><%= f.label :street %></div>
      <div class="new-customer-boxes"><%= f.text_field :street, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
      <div class="new-customer-lables"><%= f.label :colony %></div>
      <div class="new-customer-boxes"><%= f.text_field :colony, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
      <div class="new-customer-lables"><%= f.label :landmark %></div>
      <div class="new-customer-boxes"><%= f.text_field :landmark, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
      <div class="new-customer-lables"><%= f.label :city %><span class="necessary">*</span></div>
      <div class="new-customer-boxes"><%= f.text_field :city, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
      <div class="new-customer-lables"><%= f.label :zipcode %></div>
      <div class="new-customer-boxes"><%= f.text_field :zipcode, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
      <div class="new-customer-lables"><%= f.label :state %><span class="necessary">*</span></div>
      <div class="new-customer-boxes"><%= f.text_field :state, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
      <div class="new-customer-lables"><%= f.label :contract_person %></div>
      <div class="new-customer-boxes"><%= f.text_field :contract_person, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
      <div class="new-customer-lables"><%= f.label :mobile_number %></div>
      <div class="new-customer-boxes"><%= f.text_field :mobile_number, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
      <div class="new-customer-lables"><%= f.label :phone_number %></div>
      <div class="new-customer-boxes"><%= f.text_field :phone_number, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
      <div class="new-customer-lables"><%= f.label :contract_amount %><span class="necessary">*</span></div>
      <div class="new-customer-boxes"><%= f.text_field :contract_amount, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
      <div class="new-customer-lables"><%= f.label :model_name %><span class="necessary">*</span></div>
      <div class="new-customer-boxes"><%= f.text_field :model_name, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
    <div class="new-customer-lables"><%= f.label :prefilter %></div>
      <div class="new-customer-boxes"><%= f.text_field :prefilter, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div class="new-customer-fields">
    <div class="new-customer-lables"><%= f.label :remarks %></div>
    <div class="new-customer-boxes"><%= f.text_area :remarks, :rows => 2, :cols => 34, :class => "selectboxLength" %></div>
  </div>
  <div class="clear"></div>
  <div id="new-customer-button">
      <%= submit_tag "Update" %>
  </div>

<% end %>
<div class="clear"></div>
<div class="bottom_padding"></div>

<script type="text/javascript">
  Zapatec.Calendar.setup({
            inputField     :    "customer_contract_date",     // id of the input field
            ifFormat       :    "%m/%d/%Y",     // format of the input field
            button         :    "contract_date",  // What will trigger the popup of the calendar
            showsTime      :     false      //don't show time, only date
    });
</script>