<!--<div id= "service-register-detail-first-row" >
  <div class="serial-number-first">S. No.</div>
  <div class="service-register-detail-date-first">Complaint Date</div>
  <div class="service-register-detail-date-first">Service Date</div>
  <div class="service-register-detail-remark-first">Remark</div>
	<div class="service-register-detail-remark-first">Spare Parts</div>
  <div class="service-register-detail-amount-first">Amount</div>
  <div class="service-register-detail-technician-first">Technician</div>
  <div class="service-register-detail-print-first">Print</div>
</div>
-->
<div id= "service-register-detail-first-row" >
<table>
	<tr >
		<td>S. No.</td>
		<!--<td>Complaint Date</td>-->
		<td>Service Date</td>
		<td>Remark</td>
		<td>Spare Parts</td>
		<td>Amount</td>
		<td>Technician</td>
		<td>Print</td>
	</tr>



<% counter = 0 %>
<% @services.each do |status| %>

  <div class= "service-register-detail-rows" >



   
<tr>
<td><div class="serial-numbers"><%= serial_number=(counter+1) %>  </div></td>
<!--<td><%= status["complaint_date"] %></td>-->
<td><%= (status["service_date"]).strftime('%d/%m/%y')%></td>
<td><%= status["remarks"] %></td>
<td>
<% service_products = ServiceProduct.find(:all,:conditions=>["service_id = ? ", status["service_id"]])%>
<% products = service_products %>
<% products.each do |pro| %>
  <% product = Product.find(pro.product_id) unless pro.nil? %>
<%=  product.name unless product.nil? %> <%=  product.description unless product.nil? %>,
<% end %></td>
<td><%= status["amount"] %></td>
<td><%=  status["technician"]%></td>
<td><%=  image_tag("print1.jpeg", :height => 20, :width => 20, :onclick => "reprint_service_form(#{status["service_id"]});", :style => "cursor : pointer;") %></td>
</tr></div>
<% end %>

