<% if session[:customer_id].present? %>
  <% customer_id = session[:customer_id] %>
  <% session[:customer_id] = nil %>
  <script type="text/javascript">
    window.onload = print_amc(<%= customer_id %>);
  </script>
<% end %>
<div id = "wrapper">
  <div id = "header"><%= render "layouts/common_header" %></div>
  <div class="clear"></div>
  <div id="inner-wrapper">
    <div id="new-customer-heading">Edit AMC Form</div>
    <div id="without-error"></div>
    <div class="clear"></div>
    
    <%=form_for @customer, :url =>"/update_amc/#{@customer.id}" , :html => { :onsubmit => "return amc_submit_check()" } do |f| %>

      <div class="new-customer-fields">
        <div class="new-customer-lables"><%= f.label :identity %></div>
        <div class="new-customer-boxes"><%= f.text_field :identity, :class => "selectboxLength",:readonly => "true" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
        <div class="new-customer-lables"><%= f.label :contract_date %>(dd/mm/yyyy)</div>
        <div class="new-customer-boxes"><%= text_field_tag "customer[contract_date]", @customer.contract_date.strftime('%m/%d/%Y'),:class => "selectboxLength",:readonly => "true" %>
        </div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
        <div class="new-customer-lables"><%= f.label :amc_type %></div>
        <div class="new-customer-boxes"><%= f.text_field :amc_type, :readonly => "true", :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
        <div class="new-customer-lables"><%= f.label :service_type %></div>
        <div class="new-customer-boxes"><%= f.text_field :service_type, :readonly => "true", :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
          <div class="new-customer-lables"><%= f.label :name %></div>
          <div class="new-customer-boxes"><%= f.text_field :name, :class => "selectboxLength", :readonly => "true" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
          <div class="new-customer-lables"><%= f.label :house_number %></div>
          <div class="new-customer-boxes"><%= f.text_field :house_number, :class => "selectboxLength", :readonly => "true" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
          <div class="new-customer-lables"><%= f.label :street %></div>
          <div class="new-customer-boxes"><%= f.text_field :street, :class => "selectboxLength", :readonly => "true" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
          <div class="new-customer-lables"><%= f.label :colony %></div>
          <div class="new-customer-boxes"><%= f.text_field :colony, :class => "selectboxLength", :readonly => "true" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
          <div class="new-customer-lables"><%= f.label :landmark %></div>
          <div class="new-customer-boxes"><%= f.text_field :landmark, :class => "selectboxLength", :readonly => "true" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
          <div class="new-customer-lables"><%= f.label :city %></div>
          <div class="new-customer-boxes"><%= f.text_field :city, :class => "selectboxLength", :readonly => "true" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
          <div class="new-customer-lables"><%= f.label :zipcode %></div>
          <div class="new-customer-boxes"><%= f.text_field :zipcode, :class => "selectboxLength", :readonly => "true" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
          <div class="new-customer-lables"><%= f.label :state %></div>
          <div class="new-customer-boxes"><%= f.text_field :state, :class => "selectboxLength", :readonly => "true" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
          <div class="new-customer-lables"><%= f.label :contract_person %></div>
          <div class="new-customer-boxes"><%= f.text_field :contract_person, :class => "selectboxLength", :readonly => "true" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
          <div class="new-customer-lables"><%= f.label :mobile_number %></div>
          <div class="new-customer-boxes"><%= f.text_field :mobile_number, :class => "selectboxLength", :readonly => "true" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
          <div class="new-customer-lables"><%= f.label :phone_number %></div>
          <div class="new-customer-boxes"><%= f.text_field :phone_number, :class => "selectboxLength", :readonly => "true" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
          <div class="new-customer-lables"><%= f.label :contract_amount %></div>
          <div class="new-customer-boxes"><%= f.text_field :contract_amount , :class => "selectboxLength", :readonly => "true"%></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
          <div class="new-customer-lables"><%= f.label :model_name %></div>
          <div class="new-customer-boxes"><%= f.text_field :model_name, :class => "selectboxLength", :readonly => "true" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
        <div class="new-customer-lables"><%= f.label :prefilter %></div>
          <div class="new-customer-boxes"><%= f.text_field :prefilter, :class => "selectboxLength", :readonly => "true" %></div>
      </div>
      <div class="clear"></div>
      <div class="new-customer-fields">
        <div class="new-customer-lables"><%= f.label :remarks %></div>
        <div class="new-customer-boxes"><%= f.text_area :remarks, :rows => 2, :cols => 34, :class => "selectboxLength", :readonly => "true" %></div>
      </div>
      <div class="clear"></div>
     
    <% end %>
<a href="/customer/show_amc">Back</a>
  </div>
  <div class="clear"></div>
  <div class="bottom_padding"></div>
</div>
<div class="clear"></div>
<div id = "header" align="center"><%= render "layouts/footer" %></div>
<script type="text/javascript">
  Zapatec.Calendar.setup({
            inputField     :    "customer_contract_date",     // id of the input field
            ifFormat       :    "%m/%d/%Y",     // format of the input field
            button         :    "contract_date",  // What will trigger the popup of the calendar
            showsTime      :     false      //don't show time, only date
    });
</script>