<% if @product_stock != nil %>

<% @product_stock.each do |stock| %>
    <div class="product-stock-rows"> 
    <div class="dynamic-stock-product-names">
    <%= collection_select :product_name, :"#{params[:id]}", Product.find(:all, :select => ["DISTINCT(name)"], :conditions => "is_enable = TRUE"), :name, :name, {:prompt => true}, {:onchange=> "var e=$('product_name_#{params[:id]}'); product_select(e.options[e.selectedIndex].value,'#{params[:id]}')", :name => "product[name][]", :class => "dynamic-sales-name-box-length"} %>
  </div>

  <div class="dynamic-product-description">
    <%= collection_select(:description, :"#{params[:id]}", Product.find(:all, :conditions => "is_enable = TRUE"), :id, :description, {:prompt => true}, {:name => "product[description]", :class => "dynamic-description-box-length", :disabled => true} ) %>
  </div>

  <div class="dynamic-sales-serial-number">
    <%= collection_select :serial_number, :"#{params[:id]}", ProductSerialNumber.all, :id, :serial_number, {:prompt => true}, {:name => "stock[product_serial_number_id]", :class => "dynamic-sales-box-length", :disabled => true }  %>
  </div>

  <div class="dynamic-product-quantity">
    <%= text_field :product,:quantity, :size => 11,  :id => "product_quantity_#{params[:id]}",:name => "stock[stock_quantity]",:class => "dynamic-name-box-length" %>
  </div>

<% end %>
<% else %>
  <div id = "rows-not-found">" No Details Found "</div>
  <div class="clear"></div>
<% end %>