<script>add_row.counter = '<%=count %>'</script>
<div class=clear></div><div class=dynamic-stock-rows><div class=serial-numbers><%= count %></div>
<div class="dynamic-stock-names"><%= collection_select(:product, "name_#{ count}", Product.find(:all, :select => ["DISTINCT(name) ,id"], :conditions => "is_enable = TRUE"), :id,
:name, {:prompt => true, :selected => order_product.product.id.to_i },{:onchange=> "var e=$('product_name_#{count}'); product_select(e.options[e.selectedIndex].value,'#{count}')", :name => "product[name][]", :class => "dynamic-name-box-length"} )  %></div>
<div class="dynamic-stock-description"><%= collection_select(:description,"#{ count}", Product.find(:all, :select => ["DISTINCT(description) ,id"], :conditions => "is_enable = TRUE"), :id, :description, {:prompt => true, :selected =>
order_product.product.id.to_i}, {:name => "product[description][]", :class => "dynamic-description-box-length"} ) %></div>
<div class="dynamic-stock-quantity"><%= text_field_tag "product[quantity]",order_product.ordered_quantity, :size => 11, :onblur => "get_total(#{count})", :id => "product_quantity_#{count}",:name => "product[quantity][]",:class => "dynamic-box-length" %></div>
<div class="dynamic-stock-rate"><%= text_field_tag "product[rate]",order_product.rate, :size => 11, :onblur => "get_total(#{count})", :id => "product_rate_#{count}", :name => "product[rate][]", :class => "dynamic-box-length" %></div>
<div class="dynamic-stock-total"><%= text_field_tag "product[total]",(order_product.ordered_quantity)*(order_product.rate), :disabled => true, :size => 11, :id => "product_total_#{count}",  :class => "dynamic-box-length" %></div>
</div>
