<% if @product_stock && @product_stock.length > 0 %>
  <% @product_stock.each do |stock| %>
    <div class="stock-detail-rows">
      <% unless stock.stock_quantity == 0 %>
        <div class="serial-numbers"><%= serial_number=(counter+1) %></div>
        <div class="stock-detail-names"><%= stock.product.name unless stock.product.nil? %></div>
        <div class="stock-detail-description"><%= stock.product.description unless stock.product.nil? %></div>
        <div class="stock-detail-quantity"><%= stock.stock_quantity %></div>
        <div class="stock-detail-quantity"><%= stock.product_serial_number_id %></div>
        <% counter = counter + 1 %>
      <% end %>
    </div>
    <div class="clear"></div>
  <% end %>
<% else %>
  <div id = "rows-not-found">" No Details Found "</div>
  <div class="clear"></div>
<% end %>
  <div class="bottom_padding"></div>  <div class="bottom_padding"></div>
  <div class="clear"></div>

<% current_page = (Float(counter) / 25).ceil %>
<div class="clear"></div>
<%= render :partial => "layouts/get_paginated", :locals => { :current_page => current_page, :total_pages => total_pages, :function_name => "ordered_stock" }%>
