 <% if @product_stock != nil %>
  <%  stock = @product_stock %>
    <div class="stock-detail-rows">
      <div class="serial-numbers"><%= serial_number=(counter+1) %></div>
      <div class="stock-detail-names"><%= stock.product.name unless stock.product.nil? %></div>
      <div class="stock-detail-description"><%= stock.product.description unless stock.product.nil? %></div>
      <div class="stock-detail-quantity"><%= stock.stock_quantity %></div>
      <div class="stock-detail-names"><%= stock.product_serial_number.serial_number %></div>
      
     
      <% counter = counter + 1 %>
    </div>
    <div class="clear"></div>

<% else %>
  <div id = "rows-not-found">" No Details Found "</div>
  <div class="clear"></div>
<% end %>
  <div class="bottom_padding"></div>  <div class="bottom_padding"></div>
  <div class="clear"></div>


<div class="pagination">
      <%= will_paginate(@product_stock) %>
    </div>