<div id = "wrapper">
  <div id = "header"><%= render "layouts/common_header" %></div>
  <div class="clear"></div>
  <div id="inner-wrapper">
    <div id="stock-transfer-datails-heading">User Stock</div>
     <div class="bottom_padding"></div>
     <div class="bottom_padding"></div>
     <% if flash[:notice] %>
      <div id="error">
        <%= flash[:notice] %>
      </div>
    <% else %>
      <div id="without-error">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="clear"></div>
    <fieldset>
      <legend>Serach By:</legend>
      <div class="stock-lables">Products/Parts </div>
      <div class="stock-boxes"><input type="text" id="name" class="search-length" onkeyup="ordered_stock_transfer(this);"></div>
      <div class="stock-lables">Description </div>
      <div class="stock-boxes"><input type="text" id="description" class="search-length" onkeyup="ordered_stock_transfer(this);"></div>
    </fieldset>
    <div class="clear"></div><br/>
     <div class="order-fields">
        <div class="order-lables">Technician<span class="necessary">*</span></div>
        <div class="order-boxes"><%= collection_select(:stock, :technician_id, Technician.all, :id, :name, {:prompt => true}, { :onchange=> "common_ajax_call('#{product_user_transfer_path}','stock-content',{'technician_id':this.value}); ", :class => "selectboxLength" } )%></div>
     </div>
    <div class="clear"></div>
    <div id="stock-detail-first-row">
      <div class="serial-numbers">S. No.</div>
      <div class="stock-detail-names" d="name desc" onclick="ordered_stock_transfer(this);">Products/Parts</div>
      <div class="stock-detail-description">Description</div>
      <div class="stock-detail-quantity">Quantity</div>
      <div class="stock-detail-quantity-first">Serial Number</div>
      <!--<div class="stock-detail-operation-first">Challen No.</div>-->
    </div>
    
    <div id="stock-content">
       <%= render :partial => "products/user_stock_detail", :locals => { :stocks => @product_stock, :counter => 0, :total_pages => 0}%>
    </div>
    <div class="clear"></div>
    
    <div class="bottom_padding"></div>
    <div class="clear"></div>
    
  </div>
  <div class="clear"></div>
  <div class="bottom_padding"></div>
</div>
<div class="clear"></div>
<div id = "header" align="center"><%= render "layouts/footer" %></div>
<script type="text/javascript">
  //$("name").value = "";
 // $("description").value = "";
//window.onload = ordered_stock_transfer($);
</script>

