
   
  <div class="dynamic-product-names">
    <%= collection_select :product_name, :"#{params[:id]}", @product_stock, :p_id, :name, {:prompt => true}, {:onchange=> "var e=$('product_name_#{params[:id]}');test($('product_name_1').value); product_select(e.options[e.selectedIndex].value,'#{params[:id]}')", :name => "product[name]", :class => "dynamic-sales-name-box-length"} %>
  </div>

  <div class="dynamic-product-description">
    <%= collection_select(:description, :"#{params[:id]}", Product.find(:all, :conditions => "is_enable = TRUE"), :id, :description, {:prompt => true}, {:name => "product[description]", :class => "dynamic-description-box-length", :disabled => true} ) %>
  </div>

  <div class="dynamic-sales-serial-number">
    <%= collection_select :serial_number, :"#{params[:id]}", ProductSerialNumber.all, :id, :serial_number, {:prompt => true}, {:name => "stock[product_serial_number]", :class => "dynamic-sales-box-length", :disabled => true }  %>
  </div>

  <div class="dynamic-product-quantity">

    <%= text_field 'stock','stock_quantity'%>

  </div>

