
<div class="dynamic-product-names">
	<%= collection_select(:product_name, :"#{params[:id]}", Product.find(:all, :select => ["DISTINCT(name),id"], :order => ["name ASC"], :conditions => "is_enable = TRUE"), :id, :name, {:prompt => true}, {:onchange=> "var e=$('product_name_#{params[:id]}'); product_select(e.options[e.selectedIndex].value,'#{params[:id]}')", :name => "stock[stock_product][#{params[:id]}][product_id]", :class => "dynamic-name-box-length"})%>
</div>

<div class="dynamic-product-description"><%= collection_select(:description, :"#{params[:id]}", Product.find(:all, :conditions => "is_enable = TRUE"), :id, :description, {:prompt => true}, {:name => "stock[stock_product][#{params[:id]}][product_id]", :class => "dynamic-description-box-length", :disabled => true} ) %></div>

<div class="dynamic-sales-serial-number"><%= collection_select :serial_number, :"#{params[:id]}", ProductSerialNumber.all, :id, :serial_number, {:prompt => true}, {:name => "product[serial_number]", :class => "dynamic-sales-box-length", :disabled => true }  %></div>


<div class="dynamic-product-quantity"><%= text_field :product,:quantity, :size => 11,  :id => "product_quantity_#{params[:id]}",:name => "stock[stock_product][#{params[:id]}][stock_quantity]",:class => "dynamic-name-box-length" %>
</div>


