<div id = "wrapper">
  <div id = "header"><%= render "layouts/common_header" %></div>
  <div class="clear"></div>
  <div id="inner-wrapper">
    <div id="stock-heading">Stock Transfer</div>
    <div class="bottom_padding"></div>
    <div class="bottom_padding"></div>
    <% if flash[:notice] %>
      <div id="error">
        <%= flash[:notice] %>
      </div>
    <% else %>
      <div id="without-error">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="clear"></div>
    <div class="clear"></div>
    <%=form_for :stock, :url => product_save_user_stock_path,:html => { :onsubmit => "return valDrop()"} do |f| %>
     <div class="sales-fields">
        <div class="sales-lables">Stock Transfer<span class="necessary">*</span></div>
        <div class="sales-boxes">
        <span><%= radio_button "stock", "user_type", "1", :onclick=>"makeEnable()" %>To</span>
        <span><%= radio_button "stock", "user_type", "2", :onclick=>"makeEnable();" %>From</span></div>
      </div>
      <div class="order-fields">
        <div class="order-lables">Technician<span class="necessary">*</span></div>
        <div class="order-boxes"><%= collection_select(:stock, :technician_id, Technician.all(:order => ["name ASC"]), :id, :name, {:prompt => true},{  :class => "selectboxLength" } )%></div>
      </div>
      <div class="clear"></div>
      <div id="dynamic-product-first-row">
        <div class="serial-number-first">S. No.</div>
        <div class="dynamic-name-first">Products/Parts</div>
        <div class="dynamic-description-first">Desciption</div>
        <div class="dynamic-rate-first">Serial Number</div>
        <div class="dynamic-quantity-first">Quantity</div>
      </div>
      <div class="clear"></div>
      <div id="1"></div>
      <div class="clear"></div>
      <div class="dynamic_rows"><%= link_to "Add", 'javascript:void(0);', :onclick => "add_row1()" %></div>
      <div class="clear"></div>
      <div class="clear"></div>
      <div id="order-button">
          <%= submit_tag "Stock transfer"  %>
      </div>
    <% end %>
    <div id = "left-padding"><%= link_to "Stock Transfer List", product_stock_transfer_details_path%></div>
    </div>
    <div class="clear"></div>
    <div class="bottom_padding"></div>
  </div>
  <div class="clear"></div>
  <div id = "header" align="center"><%= render "layouts/footer" %></div>
<script type="text/javascript">
var e=$('stock_user_type_1');
  e.checked = true;

function valDrop() {
 var checking_status = true;
 select_person("stock_technician_id") ? "" : checking_status = false;
 if(!checking_status)
  {
   alert("Please select Technician from the drop-down list.");

  }
else{}
  return checking_status;

} 

function makeDisable(){
    var x=document.getElementById("stock_technician_id")
    x.disabled=true

}
function makeEnable(){
    var x=document.getElementById("stock_technician_id")
    x.disabled=false

}

window.onload = makeEnable();
</script>



