<div class="dynamic-stock-product-names"><%= collection_select :product_name, :"#{params[:id]}", Product.find(:all, :select => ["DISTINCT(name)"], :conditions => "is_enable = TRUE"), :name, :name, {:prompt => true}, {:onchange=> "var e=$('product_name_#{params[:id]}'); product_select(e.options[e.selectedIndex].value,'#{params[:id]}')", :name => "product[name][]", :class => "dynamic-sales-name-box-length"} %></div>

<div class="dynamic-stock-product-description"><%= collection_select :description, :"#{params[:id]}", Product.find(:all, :conditions => "is_enable = TRUE"), :id, :description, {:prompt => true}, {:onchange=> "var e=$('description_#{params[:id]}'); description_select(e.options[e.selectedIndex].value,'#{params[:id]}')", :name => "product[description][]", :class => "dynamic-sales-description-box-length", :disabled => true } %></div>

<div class="dynamic-stock-serial-number"><%= collection_select :serial_number, :"#{params[:id]}", ProductSerialNumber.all, :id, :serial_number, {:prompt => true}, {:name => "product[serial_number][]", :class => "dynamic-sales-box-length", :disabled => true }  %></div>



<div class="dynamic-stock-product-quantity"><%= text_field :product,:quantity, :onblur => "sales_get_total(#{params[:id]})", :id => "product_quantity_#{params[:id]}",:name => "product[quantity][]",:class => "dynamic-sales-quantity-box-length" ,:disabled => false%></div>

<div class="dynamic-stock-challen No"><%= text_field :product,:rate, :onblur => "sales_get_total(#{params[:id]})", :id => "product_rate_#{params[:id]}", :name => "product[rate][]", :class => "dynamic-sales-rate-box-length" %></div>


