<div id = "wrapper">
  <div id = "header"><%= render "layouts/common_header" %></div>
  <div class="clear"></div>
  <div id="inner-wrapper">
    <div id="stock-heading">User Stock Transfer</div>
    <div class="bottom_padding"></div>
    <div class="bottom_padding"></div>
    <div class="clear"></div>
    <% if flash[:notice] %>
      <div id="error">
        <%= flash[:notice] %>
      </div>
    <% else %>
      <div id="without-error">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="clear"></div>
    <%=form_for :stock, :url => product_save_stock_transfer_path,:html => { :onsubmit => "return valDrop()"}  do |f| %>
    <div class="clear"></div>
    <div class="order-fields">
       <div class="order-boxes"><%= collection_select(:stock, :technician_id, Technician.all(:order => ["name ASC"]), :id, :name, {:prompt => true}, { :onchange=> "common_ajax_call('#{product_user_stock_transfer_from_path}','stock-content',{'technician_id':this.value}); ", :class => "selectboxLength" } )%>	To	<%= collection_select(:stock1, :technician_id, Technician.all(:order => ["name ASC"]), :id, :name, {:prompt => true}, { :onchange=> "common_ajax_call('#{product_user_stock_transfer_path}','stock-content',{'technician_id':this.value}); ", :class => "selectboxLength" } )%>
      </div>
    </div>
      <div class="clear"></div>
      <div id="dynamic-product-first-row">
        <div class="serial-number-first">S. No.</div>
        <div class="dynamic-name-first">Products/Parts</div>
        <div class="dynamic-description-first">Desciption</div>
        <div class="dynamic-rate-first">Serial Number</div>
        <div class="dynamic-quantity-first">Quantity</div>
        
        
      </div>
      <div class="clear">
      </div>
      <div class="clear"></div>
      <div id="1"></div>
      <div class="clear"></div>
      <div class="dynamic_rows"><%= link_to "Add", 'javascript:void(0);', :onclick => "add_product_stock_row()" %></div>
      <div class="clear"></div>
      
      <div class="clear"></div>
      <div id="order-button">
          <%= submit_tag "Stock transfer" %>
      </div>
    <% end %>
<div id = "left-padding"><%= link_to "Stock Transfer List", product_stock_transfer_details_path%></div>
  </div>

  <div class="clear"></div>
  <div class="bottom_padding"></div>
</div>
<div class="clear"></div>
<div id = "header" align="center"><%= render "layouts/footer" %></div>


<script type="text/javascript">
function valDrop() {
 var checking_status = true;
 
 select_person("stock_technician_id") ? "" : checking_status = false;
 select_person("stock1_technician_id") ? "" : checking_status = false;

 if(!checking_status)
  {
   alert("Please select Technician from the drop-down list.");
   
  }
else{}
  return checking_status;
} 
</script>

