<div id = "wrapper">
  <div id = "header"><%= render "layouts/common_header" %></div>
  <div class="clear"></div>
  <div id="inner-wrapper">
    <div id="stock-heading">User Transfer</div>
    <div class="sales-fields">
      <div class="sales-boxes">
        <span><%= radio_button "users", "user_type", "1", :onclick=>"makeEnable()" %>To</span> <%= collection_select(:user_name, :technician_id, Technician.all, :id, :name, {:prompt => true}, {:onchange=> "var e=$('name_id'); name_select(e.options[e.selectedIndex].value)", :class => "selectboxLength" } )%>
        <span><%= radio_button "users", "user_type", "2",:onclick=>"makeDisable();" %>From</span> <%= collection_select(:user_name, :technician_id, Technician.all, :id, :name, {:prompt => true}, {:onchange=> "var e=$('name_id'); name_select(e.options[e.selectedIndex].value)", :class => "selectboxLength" } )%>
      </div>
    </div>
    <div class="clear"></div>
    <%=form_for :order, :url => order_create_path, :html => { :onsubmit => "return check_fields()" } do |f| %>
      <div class="clear"></div>
      <div id="dynamic-product-first-row">
        <div class="serial-number-first">S. No.</div>
        <div class="dynamic-name-first">Products/Parts</div>
        <div class="dynamic-description-first">Desciption</div>
        <div class="dynamic-quantity-first">Quantity</div>
        <div class="dynamic-rate-first">Serial Number</div>
        <div class="dynamic-total-first">Challen No.</div>
      </div>
      <div class="clear"></div>
      <div id="1"></div>
      <div class="clear"></div>
      <div class="dynamic_rows"><%= link_to "Add", 'javascript:void(0);', :onclick => "add_row1()" %></div>
      <div class="clear"></div>
      <div class="clear"></div>
      <div id="order-button">
          <%= submit_tag "Stock transfer" %>
      </div>
    <% end %>
    <div id = "left-padding"><%= link_to "Stock Transfer List", product_stock_transfer_details_path%></div>
    </div>
    <div class="clear"></div>
    <div class="bottom_padding"></div>
  </div>
  <div class="clear"></div>
  <div id = "header" align="center"><%= render "layouts/footer" %></div>
<script type="text/javascript">
  function makeDisable(){
    var x=document.getElementById("user_name_id")
    x.disabled=true
  }
  function makeEnable(){
    var x=document.getElementById("user_name_id")
    x.disabled=false
  }
var e=$('users_user_type_1');
  e.checked = true;
window.onload = makeEnable();
</script>
    

