<% if @sale != nil %>
  <% @sale.each do |stock| %>
    
    <div class="stock-detail-rows">
    <div class="serial-numbers"><%= serial_number=(counter+1) %></div>
    <div class="incentive-detail-dates"><%= (stock.date).strftime('%d/%m/%y') %></div>
    <div class="incentive-detail-names"><%= stock.customer_name.blank? ? stock.company.try(:name) : stock.try(:customer_name) %></div>
    <div class="incentive-detail-description"><%= stock.total_amount %></div>
    <div class="incentive-detail-quantity"><%= stock.technician.incentive unless stock.technician.nil?%>%</div>
    <div class="incentive-detail-operation-first"><%= ((stock.technician.incentive*stock.total_amount)/100) unless stock.technician.nil? %></div>
    <div class="incentive-detail-operation-second"> Sale  
      <div style="float:right;" width="60px"><%= link_to "View",'javascript:void(0);', :onclick => "view_sales_order(#{stock.id});" %>	
      <%= link_to image_tag("close.jpeg", :height =>20, :width =>20),"/sales_destroy/#{stock.id}?back_url=sales_incentive_path", :confirm => 'Are you sure?', :method => :delete  %>	
      </div>
    </div>
      <div id="<%= stock.id %>"></div>
      <% counter = counter + 1 %>
    </div>
    <div class="clear"></div>
    
  <% end %>
<% end %>
<% if @service != nil %>
  <% @service.each do |stock| %>
    <% unless stock.amount == 0 %>
      <div class="stock-detail-rows">
      <div class="serial-numbers"><%= serial_number=(counter+1) %></div>
      <div class="incentive-detail-dates"><%= (stock.service_date).strftime('%d/%m/%y') %></div>
      <div class="incentive-detail-names"><%= (stock.complaint.customer.try(:name)) %></div>
      <div class="incentive-detail-description"><%= stock.amount %></div>
      <div class="incentive-detail-quantity"><%= stock.technician.incentive unless stock.technician.nil?%>%</div>
      <div class="incentive-detail-operation-first"><%= ((stock.technician.incentive*stock.amount)/100) unless stock.technician.nil? %></div>
      <div class="incentive-detail-operation-second">Service
        <div style="float:right;" width="60px">   <%= link_to "View",'javascript:void(0);', :onclick => "view_services_order(#{stock.id});" %>	
        <%= link_to image_tag("close.jpeg", :height =>20, :width =>20),"/services_destroy/#{stock.id}?back_url=sales_incentive_path", :confirm => 'Are you sure?', :method => :delete  %>	
        </div>
      </div>
      
      <div id="<%= stock.id %>"></div>
      <% counter = counter + 1 %>
    <% end %>
    </div>
    <div class="clear"></div>
  <% end %>
<% end %>

    <div class="bottom_padding"></div>  <div class="bottom_padding"></div>
    <div class="clear"></div>

   <% current_page = (Float(counter) / 25).ceil %>
    <div class="clear"></div>
   <%= render :partial => "layouts/get_paginated", :locals => { :current_page => current_page, :total_pages => total_pages, :function_name => "ordered_stock" }%>
