<% if sales_info.length > 0 %>
  <% sales_info.each do |status| %>
    <div class = "sales-reg-rows">
      <div class = "serial-numbers"><%= serial_number=(counter+1) %></div>
      <div class = "sales-reg-dates"><%= (status["date"]) %></div>
      <div class = "sales-reg-dates"><%= status["customer_type"] %></div>
      <div class = "sales-reg-names"><%= status["customer_name"] %></div>
      <div class = "sales-reg-addresses"><%= status["address"] %></div>
      <div class = "sales-reg-contacts"><%= status["contact_numbers"] %></div>
      <div class = "sales-reg-amounts"><%= status["amount"] %></div>
      <div style="float:right;" width="60px"><%= link_to "View",'javascript:void(0);', :onclick => "view_sales_order(#{status["sale_id"]});" %>	<%= link_to "Edit",'javascript:void(0);', :onclick => "edit_sales_order(#{status["sale_id"]});" %>	</div>
       <div class="print-sales"><%= image_tag "print2.png", :onclick=>"print_sales(#{status["sale_id"]})", :id => "print-image-setup2" %>
      <%= link_to image_tag("close.jpeg", :height =>20, :width =>20),"/sales_destroy/#{status["sale_id"]}", :confirm => 'Are you sure?', :method => :delete  %>	</div>
      <div id="<%= status["sale_id"] %>"></div>
      <% unless status["created_by"].blank? %>
        <% user = User.find(status["created_by"]).user_name%>
        <div class = "sales-created-by"><%= user %></div>
      <% end %>
      <% counter = counter + 1 %>
    </div>
    <div class="clear"></div>
  <% end %>
<% else %>
  <div id = "rows-not-found">" No Details Found "</div>
  <div class="clear"></div>
<% end %>
<% current_page = (Float(counter) / 25).ceil %>
<div class="clear"></div>
<%= render :partial => "layouts/get_paginated", :locals => { :current_page => current_page, :total_pages => total_pages, :function_name => "ordered_sale_register" }%>
