<div id = "wrapper">
  <div id = "header"><%= render "layouts/common_header" %></div>
  <div class="clear"></div>
  <div id="inner-wrapper">
    <div id="sales-reg-heading">User Incentive</div>
    <div class="bottom_padding"></div>  <div class="bottom_padding"></div>
    <fieldset>
      <legend>Serach By:</legend>
      
      <div class="service-register-fields">
        <div class="service-register-lables">From Date</div>
        <div class="service-register-boxes">
          <input type="text" id="from_date" class="search-length" onchange="search_incentive(this);">
          <span class="date_button"><%= submit_tag("...", { :name => 'button', :id => 'btn_from_date', :type => "button" }) %></span>
        </div>
      </div>
      <div class="service-register-fields">
      <div class="service-register-lables">To Date</div>
        <div class="service-register-boxes">
          <input type="text" id="to_date" class="search-length" onchange="search_incentive(this);">
          <span class="date_button"><%= submit_tag("...", { :name => 'button', :id => 'btn_to_date', :type => "button" }) %></span>
        </div>
      </div>
    </fieldset>
    <div class="clear"></div><br/>
      <div class="order-fields">
        <div class="order-lables">Technician<span class="necessary">*</span></div>
        <div class="order-boxes"><%= collection_select(:stock, :technician_id, Technician.all(:order => ["name ASC"]), :id, :name, {:prompt => true}, { :onchange => "common_ajax_call('#{sales_incentive_detail_path}','stock-content',{'technician_id':this.value}); ", :class => "selectboxLength" } )%></div>
      </div>
    <div class="clear"></div>
    <div id="stock-detail-first-row">
      <div class="serial-number-first">S. No.</div>
      <div class="incentive-detail-date-first">Date</div>
      <div class="incentive-detail-name-first">Name</div>
      <div class="incentive-detail-description-first">Amount</div>
      <div class="incentive-detail-quantity-first">Incentive </div>
      <div class="incentive-detail-operation-first">Incentive Amount</div>
      <div class="incentive-detail-operation-second">Incentive For</div>
      
    </div>
    <div id="stock-content">
       <%= render :partial => "sales/incentive_detail", :locals => { :stocks => @sale, :counter => 0, :total_pages => 0}%>
    </div>
  
    <div class="clear"></div>
    <div class="bottom_padding"></div>
    <div class="clear"></div>
    
  </div>
  <div class="clear"></div>
  <div class="bottom_padding"></div>
</div>
<div class="clear"></div>
<div id = "header" align="center"><%= render "layouts/footer" %></div>

<script type="text/javascript">
 
  $("from_date").value = "";
  $("to_date").value = "";
 // window.onload = search_incentive($);
  Zapatec.Calendar.setup({
            inputField     :    "from_date",     // id of the input field
            ifFormat       :    "%m/%d/%Y",     // format of the input field
            button         :    "btn_from_date",  // What will trigger the popup of the calendar
            showsTime      :     false      //don't show time, only date
    });

  Zapatec.Calendar.setup({
            inputField     :    "to_date",     // id of the input field
            ifFormat       :    "%m/%d/%Y",     // format of the input field
            button         :    "btn_to_date",  // What will trigger the popup of the calendar
            showsTime      :     false      //don't show time, only date
    });
</script>
