<%= javascript_include_tag :defaults %>
<% if session[:sale_id].present? %>
  <% sale_id = session[:sale_id] %>
  <% session[:sale_id] = nil %>
  <script type="text/javascript">
    window.onload = print_sales(<%= sale_id %>);
    </script>
<% end %>
<style type="text/css">
.navigation {
    text-align:left;
    vertical-align:top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    line-height: 16px;
    font-weight: bold;
    background-color: #DAE5EF;
    color: #003066;
    text-decoration:none;
    margin-top: .5em;
    padding:.5em;
    border:solid 1px;
}
</style>
<div id = "wrapper">
  <div id = "header"><%= render "layouts/common_header" %></div>
  <div class="clear"></div>
  <div id="inner-wrapper">
    <div id="sales-heading">Customer Bill</div>
    <div id="without-error"></div>
    <div class="clear"></div>
<% if flash[:notice] %>
      <div id="error">
        <%= flash[:notice] %>
      </div>
    <% else %>
      <div id="without-error">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%=form_for :sale, :url => sales_create_bill_path, :html => { :onsubmit => "return check_sales_fields()" } do |f| %>
      
      


      <div class="sales-fields">
        <div class="sales-lables">Sale By </div>
        <%= check_box("sale", "technician_id", :onclick =>'technician();') %>
      </div>

        
        
        <div class="clear"></div> 

     <div class="sales-fields", id="tech_div", style=display:none>
        <div class="sales-lables"> Technician <span class="necessary">*</span></div>
        <div class="sales-boxes"><%= collection_select(:sale, :technician_id, Technician.all(:order => ["name ASC"]), :id, :name, {:prompt => true}, { :onchange=> "common_ajax_call('#{sales_incentive_path}','stock-detail-rows',{'technician_id':this.value}); ", :class => "selectboxLength" } )%></div>
      </div>
      <div class="clear"></div>
        
      
      <div class="sales-fields">
        <div class="sales-lables">Customer Type<span class="necessary">*</span></div>
        <div class="sales-boxes">
        <span><%= radio_button "sale", "customer_type", "wholesaler", :onclick=>"makeEnable()" %>Wholesaler</span>
        <span><%= radio_button "sale", "customer_type", "retailer",:onclick=>"makeDisable();" %>Retailer</span></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields">
        <div class="sales-lables">Bill Book Number <span class="necessary">*</span></div>
        <div class="sales-boxes"><%= collection_select(:bill_book_series, :id, BillBookSeries.all, :id, :name, {:prompt => true}, {:onchange=> "var e=$('bill_book_series_id'); bill_book_series_select(e.options[e.selectedIndex].value)", :class => "selectboxLength" } )%></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields">
        <div class="sales-lables">Invoice Number <span class="necessary">*</span></div>
        <div class="sales-boxes"><%= text_field :bill_book_series, :current_invoice_number, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields">
        <div class="sales-lables">Purchase Date(mm/dd/yyyy)<span class="necessary">*</span></div>
        <div class="sales-boxes"><%= f.text_field :purchase_date, :value => Date.today.strftime('%m/%d/%Y'), :class => "selectboxLength", :name => "sale[date]"%>
        <span class="date_button"><%= submit_tag("...", { :name => 'button', :id => 'purchase_date', :type => "button" }) %></span></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields", id="tech_div1", style=display:none>
        <div class="sales-lables">Customer Name<span class="necessary">*</span> </div>
        <div class="sales-boxes"><%= text_field_with_auto_complete :sale, :customer_name,  :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
     
      
      <div class="sales-fields", id="tech_div2", style=display:none>
        <div class="sales-lables">Company Name<span class="necessary">*</span></div>
        <div class="sales-boxes"><%= collection_select(:sale, :company_id, Company.all(:order => ["name ASC"]), :id, :name, {:prompt => true}, { :onchange=> "var e=$('sale_company_id'); company_select(e.options[e.selectedIndex].value)",  :class => "selectboxLength" } )%></div>
      </div>
      
       <div class="clear"></div>
      <div class="sales-fields", id="tech_div3", style=display:none>
        <div class="sales-lables">House Number </div>
        <div class="sales-boxes"><%= text_field :company, :house_number,  :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields", id="tech_div4", style=display:none>
        <div class="sales-lables">Street </div>
        <div class="sales-boxes"><%= text_field :company, :street,  :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields", id="tech_div5", style=display:none>
        <div class="sales-lables">Colony </div>
        <div class="sales-boxes"><%= text_field :company, :colony, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields", id="tech_div6", style=display:none>
        <div class="sales-lables">Landmark </div>
        <div class="sales-boxes"><%= text_field :company, :landmark,  :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields", id="tech_div7", style=display:none>
        <div class="sales-lables">City </div>
        <div class="sales-boxes"><%= text_field :company, :city, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields", id="tech_div8", style=display:none>
        <div class="sales-lables">Zipcode </div>
        <div class="sales-boxes"><%= text_field :company, :zipcode,  :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields", id="tech_div9", style=display:none>
        <div class="sales-lables">State </div>
        <div class="sales-boxes"><%= text_field :company, :state,  :class => "selectboxLength" %></div>
      </div>
     
      <div class="clear"></div>
      <div class="sales-fields", id="tech_div10", style=display:none>
        <div class="sales-lables">House Number </div>
        <div class="sales-boxes"><%= f.text_field :house_number, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields", id="tech_div11", style=display:none>
        <div class="sales-lables">Street </div>
        <div class="sales-boxes"><%= f.text_field :street, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields", id="tech_div12", style=display:none>
        <div class="sales-lables">Colony </div>
        <div class="sales-boxes"><%= f.text_field :colony, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields", id="tech_div13", style=display:none>
        <div class="sales-lables">Landmark </div>
        <div class="sales-boxes"><%= f.text_field :landmark, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields", id="tech_div14", style=display:none>
        <div class="sales-lables">City<span class="necessary">*</span> </div>
        <div class="sales-boxes"><%= f.text_field :city, :value => "#{@company_address}", :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields", id="tech_div15", style=display:none>
        <div class="sales-lables">Zipcode </div>
        <div class="sales-boxes"><%= f.text_field :zipcode, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields", id="tech_div16", style=display:none>
        <div class="sales-lables">State<span class="necessary">*</span> </div>
        <div class="sales-boxes"><%= f.text_field :state, :value => "#{@company_address}", :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields">
        <div class="sales-lables">Mobile Number </div>
        <div class="sales-boxes"><%= f.text_field :mobile_number, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields">
        <div class="sales-lables">Phone Number</div>
        <div class="sales-boxes"><%= f.text_field :phone_number, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div id="dynamic-sales-product-first-row">
        <div class="serial-number-first">Sr No</div>
        <div class="dynamic-sales-name-first">Products /Parts</div>
        <div class="dynamic-sales-description-first">Desciption</div>
        <div class="dynamic-sales-serial-number-first">Serial Number</div>
        <div class="dynamic-sales-service-type-first">Service Type</div>
        <div class="dynamic-sales-quantity-first">Quantity</div>
        <div class="dynamic-sales-rate-first">Rate</div>
        <div class="dynamic-sales-total-first">Total</div>
      </div>
      <div class="clear"></div>
      <div id="1"></div>
      <div class="clear"></div>
      <div class="dynamic_rows"><%= link_to "Add", 'javascript:void(0);', :onclick => "sales_add_row()" %></div>
      <div class="clear"></div>
      <div class="sales-fields">
        <div class="sales-lables">Total </div>
        <div class="sales-boxes"><%= f.text_field :total_amount, :value=> 0, :disabled => true, :class => "selectboxLength" %></div>
        </div>
        <%= check_box(:fulpaid, unchecked_value = "1",:onclick =>'javascript:ful_amount_paid();')%>
        
       <div class="clear"></div>
        <div class="sales-fields">
        <div class="sales-lables">Paid Amount<span class="necessary">*</span> </div>
        <div class="sales-boxes"><%= text_field :payments, :paid_amount, :class => "selectboxLength" %></div>
        </div>
       <div class="clear"></div>
       <div class="sales-fields"><%= check_box("payment", "is_cash", :onclick =>'javascript:cash_payment();') %>By Cash           <%= check_box("payment", "is_cheque", :onclick =>'javascript:cheque_payment();')%>By Cheque<%= check_box("payment", "is_by_transfer",:onclick =>'javascript:transfer_payment();')%>By Transfer           <%= check_box("payment", "is_by_card",:onclick =>'javascript:card_payment();')%>By Card</div>

        <div class="sales-fields" id="cash_div", style=display:none>
        <div class="sales-lables">Cash Amount <span class='necessary'>*</span></div>
        <div class="sales-boxes"><%= text_field :payments, :cash_amount, :class => "selectboxLength" %></div>
        </div>
        <div class="clear"></div> 

        <div id="c1" ></div>
        <div class="clear"></div>
        <div class="sales-fields", id="cheque_div", style=display:none><%= link_to "Add Cheque Details", 'javascript:void(0);', :onclick => "sales_add_payment_cheque()" %></div>

        <div class="sales-fields", id="transfer_div", style=display:none>
        <div class="sales-lables">Transfer Amount <span class='necessary'>*</span></div>
        <div class="sales-boxes"><%= text_field :payments, :transfer_amount, :class => "selectboxLength" %></div>
        <div class="sales-lables">To Account No <span class='necessary'>*</span></div>
        <div class="sales-boxes"> <%= text_field :payments, :transfer_to_account_no, :class => "selectboxLength" %></div>
        </div>
        <div class="clear"></div>

        <div class="sales-fields", id="card_div", style=display:none>
        <div class="sales-lables">Card Paid Amount<span class='necessary'>*</span> </div>
        <div class="sales-boxes"><%= text_field :payments, :card_paid_amount, :class => "selectboxLength" %></div>
        </div>
        <div class="clear"></div>
        <div class="sales-fields">
        <div class="sales-lables">Next Pay Date(mm/dd/yyyy)</div>
        <div class="sales-boxes"><%= text_field :payments, :next_pay_date, :class => "selectboxLength"%>
        <span class="date_button"><%= submit_tag("...", { :name => 'button', :id => 'next_pay_date', :type => "button" }) %></span>
        </div>
        </div>
      <div class="sales-fields">
        <div class="sales-lables">Amc Type </div>
          <%= check_box("sale", "amc_type", :onclick =>'amc_type();') %>
      </div>
      <!--<div class="sales-fields", id="amc_div1", style=display:none>
        <div class="sales-lables">Identity</div>
        <div class="sales-boxes"><%= text_field :identity, :class => "selectboxLength" %></div>
      </div>-->
      <div class="clear"></div>
      <div class="sales-fields", id="amc_div", style=display:none>
        <div class="sales-lables">AMC Type<span class="necessary">*</span></div>
        <div class="sales-boxes"><%= f.select :amc_type, ["with parts","without parts","within warrunty"],{ :prompt => true },{ :class => "selectboxLength"} %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields", id="amc_div1", style=display:none>
          <div class="sales-lables">Service Type</div>
          <div class="sales-boxes"><%= f.select :service_type,ServiceType.find_service_types,{ :prompt => true },{ :class => "selectboxLength"} %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields">
        <div class="sales-lables">Enquiry From </div>
        <div class="sales-boxes"><%= text_field_with_auto_complete :technician, :enquiry_from, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields">
          <div class="sales-lables">Delivery Person</div>
          <div class="sales-boxes"><%= text_field_with_auto_complete :technician, :delivery_person_name, :class => "selectboxLength"  %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields">
          <div class="sales-lables">Installation Person</div>
          <div class="sales-boxes"><%= text_field_with_auto_complete :technician, :installation_person_name, :class => "selectboxLength"  %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields">
        <div class="sales-lables">Installation Date(mm/dd/yyyy)</span></div>
        <div class="sales-boxes"><%= f.text_field :installation_date, :class => "selectboxLength"%>
        <span class="date_button"><%= submit_tag("...", { :name => 'button', :id => 'installation_date', :type => "button" }) %></span></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields">
        <div class="sales-lables">P.O. Number </div>
        <div class="sales-boxes"><%= f.text_field :po_number, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields">
        <div class="sales-lables">P.O. Date(mm/dd/yyyy)</div>
        <div class="sales-boxes"><%= f.text_field :po_date, :class => "selectboxLength"%>
        <span class="date_button"><%= submit_tag("...", { :name => 'button', :id => 'po_date', :type => "button" }) %></span></div>
      </div>
      <div class="clear"></div>
      <div class="sales-fields">
          <div class="sales-lables">Remarks </div>
          <div class="sales-boxes"><%= text_area :sale, :remarks, :rows => 2, :cols => 34, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div id="sales-button">
          <%= submit_tag "Create Bill" %>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
  <div class="bottom_padding"></div>
</div>
<div class="clear"></div>
<div id = "header" align="center"><%= render "layouts/footer" %></div>
<script type="text/javascript">
  Zapatec.Calendar.setup({
            inputField     :    "sale_purchase_date",     // id of the input field
            ifFormat       :    "%m/%d/%Y",     // format of the input field
            button         :    "purchase_date",  // What will trigger the popup of the calendar
            showsTime      :     false      //don't show time, only date
    });

  Zapatec.Calendar.setup({
            inputField     :    "payments_next_pay_date",     // id of the input field
            ifFormat       :    "%m/%d/%Y",     // format of the input field
            button         :    "next_pay_date",  // What will trigger the popup of the calendar
            showsTime      :     false      //don't show time, only date
    });

  Zapatec.Calendar.setup({
            inputField     :    "sale_installation_date",     // id of the input field
            ifFormat       :    "%m/%d/%Y",     // format of the input field
            button         :    "installation_date",  // What will trigger the popup of the calendar
            showsTime      :     false      //don't show time, only date
    });


  Zapatec.Calendar.setup({
            inputField     :    "sale_po_date",     // id of the input field
            ifFormat       :    "%m/%d/%Y",     // format of the input field
            button         :    "po_date",  // What will trigger the popup of the calendar
            showsTime      :     false      //don't show time, only date
    });

  var e=$('sale_customer_type_retailer');
  e.checked = true;
  window.onload = sales_add_row();
  window.onload = makeDisable();

  function amc_type(){
      
    if($("sale_amc_type").checked ==true)  {
      $("amc_div").show();
      $("amc_div1").show();
    }
    else{
      $("amc_div").hide();
      $("amc_div1").hide();
    }
  }
</script>
<script>
document.observe('dom:loaded', function() {
    $('sale_customer_name_auto_complete').observe('click',function(e){
     var cust_name= $("sale_customer_name").value
      new Ajax.Request('/get_customer_details',
        {
          method:'get',
          parameters: {customer_name: cust_name},
          onSuccess: function(transport){
          var response = transport.responseText.evalJSON() || "no response text";
         $("sale_house_number").value=response.house_number;
         $("sale_street").value=response.street;
         $("sale_colony").value=response.colony;
         $("sale_landmark").value=response.landmark;
         $("sale_colony").value=response.colony;
         $("sale_city").value=response.city;
         $("sale_zipcode").value=response.zipcode;
         $("sale_state").value=response.state;
         $("sale_phone_number").value=response.phone_number;
         $("sale_mobile_number").value=response.mobile_number;
        },
        onFailure: function(){ alert('Something went wrong...') }
      });

    });
});
</script>

