<div id = "wrapper">
  <div id = "header"><%= render "layouts/common_header" %></div>
  <div class="clear"></div>
  <div id="inner-wrapper">
    <div id="service-heading">Service Form</div>
    <div id="without-error"></div>
    <div class="clear"></div>
    <%=form_for :@service, :url => customer_process_complaint_path, :html => { :onsubmit => "return check_service_fields()"} do |f| %>
      <div class="service-fields">
        <div class="service-lables"><%= f.label :service_date %>(dd/mm/yyyy)<span class='necessary'>*</span></div>
        <div class="service-boxes"><%= @service.service_date.strftime('%m/%d/%Y') %>
          </div>
      </div>
      <div class="clear"></div>
      <div class="service-fields">
          <div class="service-lables">Complaint Number</div>
          <div class="service-boxes"><%= @service.complaint.complaint_no %> </div>
      </div>
      <div class="clear"></div>
      <div class="service-fields">
          <div class="service-lables">Complaint Date</div>
          <div class="service-boxes"><%= @service.complaint.date.strftime('%m/%d/%Y') %></div>
      </div>
      <div class="clear"></div>
      <div class="service-fields">
          <div class="service-lables">Technician<span class='necessary'>*</span></div>
          <div class="service-boxes"><%= collection_select "service", "technician_id", Technician.find(:all), :id, :name, {:prompt => true}, { :class => "selectboxLength"} %></div>
      </div>
      <div class="clear"></div>
      <div id="dynamic-service-product-first-row">
        <div class="serial-number-first">Sr No</div>
        <div class="dynamic-service-name-first">Products /Parts</div>
        <div class="dynamic-service-description-first">Desciption</div>
        <div class="dynamic-service-quantity-first">Quantity</div>
        <div class="dynamic-service-rate-first">Rate</div>
        <div class="dynamic-service-total-first">Total</div>
      </div>
      <div class="clear"></div>
      <div id="1"></div>
      <div class="clear"></div>
      <div class="dynamic_rows"><%= link_to "Add", 'javascript:void(0);', :onclick => "service_add_row()" %></div>
      <div class="clear"></div>
      <%= f.hidden_field :complaint_id, :class => "selectboxLength", :value => "#{params[:id]}" %>
      <div class="service-fields">
        <div class="service-lables"><%= f.label :service_charge %><span class='necessary'>*</span></div>
        <% if @service.complaint.customer.amc_type == "with parts" || @service.complaint.customer.amc_type == "without parts" %>
          <div class="service-boxes"><%= f.text_field :service_charge, :class => "selectboxLength", :value=> 0, :disabled => false , :onblur => "add_service_charge(1);" %></div>
        <% else %>
          <div class="service-boxes"><%= @service.service_charge %></div>
        <% end %>
      </div>
      <div class="clear"></div>
      <div class="service-fields">
        <div class="service-lables">Total </div>
        <div class="service-boxes" id=""><%= @service.amount %></div>
      </div>
      
      <div class="clear"></div>
      <div class="service-fields">
        <div class="service-lables">Paid Amount<span class='necessary'>*</span></div>
        <div class="service-boxes"><%= text_field :payments, :paid_amount, :class => "selectboxLength",:disabled =>true %></div>
      </div>
      <div class="clear"></div>
       

      <div class="clear"></div>
      <div class="service-fields">
        <div class="service-lables">Remaining Amount</div>
        <div class="service-boxes"><%= f.text_field :remaining_amount, :value=> 0, :disabled => true, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="service-fields">
        <div class="service-lables">Next Pay Date(dd/mm/yyyy)</div>
        <div class="service-boxes"><%= text_field_tag "payments[next_pay_date]", @service.payments.first.next_pay_date.nil? ? "" : @service.payments.first.next_pay_date.strftime('%m/%d/%Y'), :class => "selectboxLength",:disabled =>true %>
          </div>
      </div>
      <div class="clear"></div>
      <div class="service-fields">
        <div class="service-lables">Remarks</div>
        <div class="service-boxes"><%= @service.remarks %></div>
      </div>
      <div class="clear"></div>
      <div id = "service-button">
        <%= submit_tag "Processed" %>
      </div>

    <% end %>
    
  <div class="clear"></div>
  <div class="bottom_padding"></div>
</div>
<div class="clear"></div>
<div id = "header" align="center"><%= render "layouts/footer" %></div>

