<div id = "wrapper">
  <div id = "header"><%= render "layouts/common_header" %></div>
  <div class="clear"></div>
  <div id="inner-wrapper">
    <div id="product-heading">Editing assemble machine</div>
    <% if flash[:notice] %>
      <div id="error">
        <%= flash[:notice] %>
      </div>
    <% else %>
      <div id="without-error">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="clear"></div>
    <%= form_for(@assembly) do |f| %>

      <div class="product-fields">
        <div class="product-lables"><%= f.label :name %></div>
        <div class="product-boxes"><%= f.text_field :name, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="product-fields">
        <div class="product-lables"><%= f.label :description %></div>
        <div class="product-boxes"><%= f.text_field :description, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="product-fields">
        <div class="product-lables"><%= f.label :quantity %></div>
        <div class="product-boxes"><%= f.text_field :quantity, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div class="product-fields">
        <div class="product-lables">Serial Numbers</div>
        <div class="product-boxes">
          <%= f.radio_button :is_serial_number, true %>Yes
          <%= f.radio_button :is_serial_number, false %>No
        </div>
      </div>
      <!--<div class="clear"></div>
      <div id="dynamic-service-product-first-row">
        <div class="serial-number-first">Sr No</div>
        <div class="dynamic-service-name-first">Products /Parts</div>
        <div class="dynamic-service-description-first">Desciption</div>
        <div class="dynamic-service-quantity-first">Quantity</div>
        <div class="dynamic-service-rate-first">Rate</div>
        <div class="dynamic-service-total-first">Total</div>
      </div>
      <div class="clear"></div>
      <div id="1"></div>
      <div class="clear"></div>
      <div class="dynamic_rows"><%= link_to "Add", 'javascript:void(0);', :onclick => "assemble_add_row()" %></div>
      <div class="clear"></div>-->
      
      <div class="clear"></div>
      <div class="product-fields">
        <div class="product-lables"><%= f.label :total_amount %></div>
        <div class="product-boxes"><%= f.text_field :total_amount, :class => "selectboxLength" %>
      </div>
      <div class="clear"></div>

      <div class="clear"></div>
      <div id="assemble-button">
        <%= submit_tag "Assembled" %>
      </div>

    <% end %>
    <div class="product-fields"><%= link_to 'Back', assemblies_path %> </div>
  </div>
  <div class="clear"></div>
  <div class="bottom_padding"></div>
</div>
<div class="clear"></div>
<div id = "header" align="center"><%= render "layouts/footer" %></div>

<!--<script type="text/javascript">
window.onload = assemble_add_row();
</script>-->
