<div id = "wrapper">
  <div id = "header"><%= render "layouts/common_header" %></div>
  <div class="clear"></div>
  <div id="inner-wrapper">
    <div id="stock-heading"> Assemble machines</div>
     <div class="bottom_padding"></div>
     <div class="bottom_padding"></div>
     <div id="stock-detail-first-row">
      <div class="serial-number-first">S. No.</div>
      <div class="stock-detail-name-first" id="name desc" onclick="ordered_stock(this);">Products/Parts</div>
      <div class="stock-detail-description-first" id="description desc" onclick="ordered_stock(this);">Description</div>
      <div class="stock-detail-quantity-first" id="quantity desc" onclick="ordered_stock(this);">Quantity</div>
      <div class="stock-detail-quantity-first" id="average rate">Total amount</div>
      <div class="stock-detail-operation-first">Operations</div>
    </div>
    <div class="clear"></div>
    <div id="stock-content"></div>
   <% if @assemblies.length > 0 %>
<% counter = 0 %>
    <% @assemblies.each do |assembly| %>
    <div class="stock-detail-rows">
      <div class="serial-numbers"><%= serial_number=(counter+1) %></div>
      <div class="stock-detail-names"><%= assembly.name %></div>
      <div class="stock-detail-description"><%= assembly.description %></div>
      <div class="stock-detail-quantity"><%= assembly.quantity %></div>
      <div class="stock-detail-quantity"><%= assembly.total_amount %></div>
      <div class="stock-detail-operations-first"><%= link_to 'Edit', edit_assembly_path(assembly) %></div>
      <div class="stock-detail-operations-second"><%= link_to 'Destroy', assembly, :confirm => 'Are you sure?', :method => :delete %></div>
      <% counter = counter + 1 %>
    </div>
    <div class="clear"></div>
  <% end %>


<% else %>
  <div id = "rows-not-found">" No Details Found "</div>
  <div class="clear"></div>
<% end %>
  <div class="bottom_padding"></div>  <div class="bottom_padding"></div>
  <div class="clear"></div>

<%= link_to 'New Assemble', new_assembly_path %>
    <div class="clear"></div>
    <div class="bottom_padding"></div>
    <div class="clear"></div>
    <div class="print-stock"><%= image_tag "print1.jpeg", :onclick=>"print_stock();", :id => "print-image-setup" %></div>
    <div class="clear"></div>
    <div class="bottom_padding"></div>
  </div>
</div>
<div class="clear"></div>
<div id = "header" align="center"><%= render "layouts/footer" %></div>



