<div class="dynamic-product-names"><%= collection_select(:product_name, :"#{params[:id]}", Product.find(:all, :select => ["DISTINCT(name)"], :conditions => "is_enable = TRUE"), :name, :name, {:prompt => true}, {:onchange=> "var e=$('product_name_#{params[:id]}'); product_select(e.options[e.selectedIndex].value,'#{params[:id]}')", :name => "product[name][]", :class => "dynamic-name-box-length"})%></div>
<div class="dynamic-product-description"><%= collection_select(:description, :"#{params[:id]}", Product.find(:all, :conditions => "is_enable = TRUE"), :id, :description, {:prompt => true}, {:name => "product[description][]", :class => "dynamic-description-box-length"} ) %></div>
<div class="dynamic-product-quantity"><%= text_field :product,:quantity, :onblur => "assemble_get_total(#{params[:id]})", :id => "product_quantity_#{params[:id]}",:name => "product[quantity][]",:class => "dynamic-box-length" %></div>
<div class="dynamic-product-rate"><%= text_field :product,:rate, :onblur => "assemble_get_total(#{params[:id]})", :id => "product_rate_#{params[:id]}", :name => "product[rate][]", :class => "dynamic-box-length" %></div>
<div class="dynamic-product-total"><%= text_field :product,:total, :disabled => true, :id => "product_total_#{params[:id]}", :value => 0, :class => "dynamic-box-length" %></div>