<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @assembly.name %>
</p>

<p>
  <b>Description:</b>
  <%= @assembly.description %>
</p>

<p>
  <b>Quantity:</b>
  <%= @assembly.quantity %>
</p>

<p>
  <b>Total amount:</b>
  <%= @assembly.total_amount %>
</p>


<%= link_to 'Edit', edit_assembly_path(@assembly) %> |
<%= link_to 'Back', assemblies_path %>
